*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Helper Styles */
.bold-text {
	font-weight: bold;
}

.app-container {
	.app-header {
		text-align: center;
		margin-top: 25px;
	}
}
